body{
    font-family: "Noto Sans", sans-serif;
}

h1,h2{
    font-family: "Lora", serif;
}

.navbar-brand{
    font-family: "Lora", serif;
}

.header-title{
    font-size: 48px;
    font-weight: bold;
}

.yellow{
    background-color: #ffd43a;
    color: #22272e;
}

.green{
    background-color: #009688;
    color: #fff;
}

section{
    scroll-margin: 50px;
}

.client-img{
    object-fit: contain;
    width: 120px;
    padding: 0 2%;
}

.title{
    font-weight: bold;
    margin-bottom: 3%;
}

.card{
    border: none;
}

.card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.card-service{
    background-color: #22272e;
    color: #fff;
    cursor: pointer;
}

.card-service:hover{
    background-color: #ffd43a;
    color: #22272e;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
}

