body{
    font-family: "Noto Sans", sans-serif;
}

h1,h2{
    font-family: "Lora", serif;
}

.navbar-brand{
    font-family: "Lora", serif;
}

.header-title{
    font-size: 48px;
    font-weight: bold;
}

.yellow{
    background-color: #ffd43a;
    color: #22272e;
}

.green{
    background-color: #009688;
    color: #fff;
}

section{
    scroll-margin: 50px;
}

.client-img{
    object-fit: contain;
    width: 120px;
    padding: 0 2%;
}

.title{
    font-weight: bold;
    margin-bottom: 3%;
}

.card{
    border: none;
}

.card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.card-service{
    background-color: #22272e;
    color: #fff;
    cursor: pointer;
}

.card-service:hover{
    background-color: #ffd43a;
    color: #22272e;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
}

.portfolio-card{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio-img{
    object-fit: cover;
    height: 450px;
    filter: brightness(0.9);
}

.portfolio-description{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 3%;
    text-align: center;
}

