body{
    font-family: "Noto Sans", sans-serif;
}

h1,h2{
    font-family: "Lora", serif;
}

.navbar-brand{
    font-family: "Lora", serif;
}

.header-title{
    font-size: 48px;
    font-weight: bold;
}

.yellow{
    background-color: #ffd43a;
    color: #22272e;
}

.green{
    background-color: #009688;
    color: #fff;
}

section{
    scroll-margin: 50px;
}

.client-img{
    object-fit: contain;
    width: 120px;
    padding: 0 2%;
}

